 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -163px auto 0 -408px;
  padding: 0;
}

.u-section-1 .u-table-1 {
  width: 1140px;
  margin: 300px auto 60px -6px;
}

.u-block-89b4-46 {
  background-image: none;
}

.u-block-89b4-47 {
  border-style: solid;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1 .u-icon-2 {
  font-size: 4.0626em;
}

.u-section-1 .u-table-cell-3 {
  border-style: solid;
}

.u-section-1 .u-icon-3 {
  font-size: 4.0626em;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-icon-4 {
  font-size: 4.0626em;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-icon-5 {
  font-size: 4.0626em;
}

.u-section-1 .u-icon-6 {
  font-size: 4.0626em;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
  .u-section-1 .u-icon-1 {
    margin-top: -235px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-top: 300px;
    margin-left: 0;

  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}
@media (max-width: 500px) {
  .u-section-1 .u-table-1 {
    margin-top: 500px;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 76px auto 0 97px;
  padding: 7px 139px 7px 137px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.1334em;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -52px auto 0;
  padding: 10px 22px 10px 21px;
}

.u-section-2 .u-table-1 {
  width: 946px;
  margin: 80px auto 60px;
}

.u-section-2 .u-table-header-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-2 .u-icon-2 {
  font-size: 4.0626em;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-2 .u-icon-3 {
  font-size: 4.0626em;
}

.u-section-2 .u-table-body-1 {
  font-size: 1.5rem;
}

.u-block-ec41-181 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: 372px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -383px;
  }

  .u-section-2 .u-table-1 {
    width: 940px;
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-top: 587px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-top: 1771px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
    margin-top: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 1574px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-top: 100px;
  }
}
