
.inp{
  background: transparent;
  border: 1;
  width: 100%;
  height: 100%;
}


.u-section-1 .u-sheet-1 {
  min-height: 366px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 140px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 20px auto 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 626px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -235px auto 0 -408px;
  padding: 0;
}

.u-section-2 .u-table-1 {
  width: 1140px;
  margin: 210px auto 60px -6px;
}

.u-block-89b4-46 {
  background-image: none;
}

.u-block-89b4-47 {
  border-style: solid;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 2.25rem;
}

.u-section-2 .u-table-cell-1 {
  border-style: solid;
}

.u-section-2 .u-table-cell-2 {
  border-style: solid;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
  font-size: 1.875rem;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
  font-size: 1.875rem;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
    margin-top: 213px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 959px;
}

.u-section-3 .u-table-1 {
  width: 946px;
  margin: 157px auto 60px;
}

.u-section-3 .u-table-header-1 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-1 {
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-3 .u-table-body-1 {
  font-size: 1.5rem;
}

.u-block-ec41-181 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    width: 940px;
    margin-top: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 959px;
}

.u-section-4 .u-table-1 {
  width: 946px;
  margin: 157px auto 60px;
}

.u-section-4 .u-table-header-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-1 {
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-4 .u-table-body-1 {
  font-size: 1.5rem;
}

.u-block-3e8d-181 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    width: 940px;
    margin-top: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 959px;
}

.u-section-5 .u-table-1 {
  width: 946px;
  margin: 85px auto 60px;
}

.u-section-5 .u-table-header-1 {
  font-size: 1.25rem;
}

.u-section-5 .u-table-cell-1 {
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-5 .u-table-body-1 {
  font-size: 1.5rem;
}

.u-block-707f-181 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-table-1 {
    width: 940px;
    margin-top: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-table-1 {
    width: 340px;
  }
}
@media (max-width: 500px) {
  .u-section-1 {
    padding-top: 200px;
  }
}
